@media (min-width: 300px) {
    .resume-page {
        position: relative;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .resume-page {
        padding: 1rem;
        margin: 1rem;
        position: relative;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .resume-page {
        padding: 2rem;
        margin: 0rem;
        position: relative;
        align-items: center;
    }
}

@media (min-width: 1150px) {
    .resume-page {
        padding: 2rem;
        margin: 4rem;
        position: relative;
        align-items: center;
    }
}

@media (min-width: 1300px) {
    .resume-page {
        padding: 2rem;
        margin: 3rem;
        position: relative;
        align-items: center;
    }
}

@media (min-width: 1366px) {
    .resume-page {
        padding: 3rem;
        margin: 4.5rem;
        position: relative;
        align-items: center;
    }
}

@media (min-width: 1440px) {
    .resume-page {
        padding: 3rem;
        margin: 4rem;
        position: relative;
        align-items: center;
    }
}

.work-experience {
    width: 100%;
    margin-bottom: -2rem;
}

@media screen and (min-width: 768px) {
    .company-logo {
        margin-left: 8rem;
    }
}
.education-container {
    width: 100%;
}

.row {
    display: flex;
    /*flex-wrap: wrap;*/
}

.header-title{
    margin-left: 0.4rem;
    margin-top: 0.4rem;
}

#educationBox {
    position: relative;
    border-radius: 50px;
    margin-top: 10%;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.degree-field {
    margin-top: -2rem;
    margin-left: -1rem;
}
