.welcome-container {
    width: 100%;
    display: block;
}

#welcomeBox {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 10%;
    border-radius: 50px;
    margin-left: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    #welcomeBox {
        width: 60%;
        position: relative;
        display: flex;
    }
}

@media (min-width: 300px) {
    .header-box {
        align-items: center;
        color: white;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
}

.social-links-nav {
    justify-content: center;
    position: relative;
    display: flex;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

