.scroll-to-top {
    align-items: center;
}

.scroll-button {
    align-items: center;
    position: center;
    margin: auto;
    text-align: center;
    margin-left: 50%;
}
.credits {
    align-items: center;
    position: center;
    /*margin: auto;*/
    text-align: center;
    margin-left: 5%;
}
