.App {
    padding: 0;
    width: 100%;
    height: 100vh;
}

.top-section {
    background: url("./images/yosemite.jpg");
    background-size: cover;
    height: 120vh;
    width: 100%;
    padding-right: -3rem;
    margin-right: -3rem;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
    .top-section {
        height: 140vh;
    }
}


.container {
    margin-left: auto;
    margin-right: auto;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

