/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 766px) {
    #about .profile-pic {
        display: none;
    }
}

/*@media only screen and (max-width: 900px) {*/
/*    #about .profile-pic {*/
/*        display: none;*/
/*    }*/
/*}*/

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (min-width: 767px) {
    #about .profile-pic {
        width: 150px;
        height: 150px;
        /*margin-left: 12px;*/
    }
}
